config MOTOR_DRV_CS40L2X
	tristate "Cirrus CS40L2X motor"
	depends on I2C
	depends on ANDROID_TIMED_OUTPUT
	default n
	help
	  Say Y to enable MOTOR_CS40L2X

config MOTOR_DRV_CS40L2X_PMIC_RESET
	tristate "Cirrus CS40L2X motor using reset pin with PMIC LDO"
	depends on I2C
	depends on MOTOR_DRV_CS40L2X
	default n
	help
	  Say Y to enable MOTOR_DRV_CS40L2X_PMIC_RESET

config CS40L2X_SAMSUNG_FEATURE
	tristate "Cirrus CS40L2X motor and Samsung feature"
	depends on MOTOR_DRV_CS40L2X
	default n
	help
	  Say Y to enable CS40L2X_SAMSUNG_FEATURE

config 1030LRA_MOTOR
	tristate "feature to distinguish haptic engine support"
	default n
	depends on MOTOR_DRV_CS40L2X
	help
	 Say Y to include support for haptic engine node
	 in cs40l2x driver.
	 If you use 1030LRA motor, this can't support multi frequency
	 so you should enable this.

